@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
  url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
  url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
  url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: ProximaNovaRegular, sans-serif!important;
  min-width: 1040px;
  max-width: 1480px;
  margin: 0 auto;

}

.wrap {
  max-width: 925px;
  margin: 0 auto;
  padding: 0 10px;
}
.mainpage__back {
  background: url("../images/3-layers.png") no-repeat;
  background-size: auto;
  width: 100%;
  background-position-y: -104px;
  background-position-x: -7px;
}

.header {
  display: flex;
}

.header__contact {
  margin-left: 62.5%;
  margin-top: 41px;
  .phone {
    font-size: 13px;
    margin-left: 2px;
    &:before {
      content: ' ';
      background-image: url("../images/icons/phone.png");
      background-size: cover;
      width: 14px;
      height: 14px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  input {
    background-color: #3bb873;
    border: 0;
    width: 140px;
    height: 27px;
    color: #fff;
    margin-top: 16px;
    border-radius: 2px;
    cursor: pointer;
  }
}

.header__logo {
  margin-left: 36px;
  margin-top: 10px;
}

.client__menu {
  font-size: 14px;
  margin-top: 40px;
  margin-left: 23px;
  a {
    color: #333;
    text-decoration: none;
  }
  img {
    width: 5px;
    height: 4px;
    margin-bottom: 7px;
  }
}

.top {

  .top__slogan {
    width: 380px;
    font-size: 43px;
    line-height: 1.3;
    margin-top: 63px;
    margin-bottom: 201px;
  }
  .top__calculate {
    width: 925px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 6px 36px 2px rgba(0,0,0,0.27);
    .calculate__menu {
      margin-left: 123px;
      padding-top: 33px;
    }


  }
}

.calculate__btn {
  display: inline-block;
  height: 32px;
  width: 250px;
  background-color: #3bb873;
  color: #fff;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 2px;
  img {
    display: inline-block;
    margin-top: 3px;
    margin-right: 8px;
  }
  p {
    margin-top: 6px;
    display: inline-block;
  }
}

.calculate__parameter {
  display: inline-block;
  text-align: center;
  border: 1px #e0e0e8 solid;
  border-radius: 2px;
  width: 220px;
  height: 30px;
  margin-right: 12px;
  p {
    margin-top: 6px;
    display: inline-block;
    width: 178px;
  }
  a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
    display: inline-block;
    vertical-align: middle;
  }
}

.description__items {
  width: 860px;
  margin-top: 83px;
  margin-left: 65px;
  h3 {
    margin-top: 24px;
    color: #6daeff;
  }
  p {
    margin-top: 14px;
  }
  .description__item-l, .description__item-c, .description__item-r {
    display: inline-block;
    width: 180px;
    text-align: center;
    vertical-align: top;
  }
  .description__item-l {
    margin-right: 135px;
  }
  .description__item-r {
    margin-left: 135px;
  }
  .items__line {
    margin-top: 50px;
    .description__item-c {
      margin-top: -44px;
    }
  }
}
.description__bottom {
  background: url("../images/desc-bottom.png") no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 29px;
  .description__bottom-content {
    padding-top: 153px;
    padding-bottom: 100px;
    h3 {
      font-size: 23px;
    }
    p {
      margin-top: 38px;
      margin-bottom: 21px;
      width: 550px;
      line-height: 1.5;
    }
    a {
      color: #fff;
    }
  }
}
.services {
  background: url("../images/services.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 412px;
  position: relative;
  .services__dots {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 20px rgba(47, 122, 81, 0.52) solid;
    cursor: pointer;
    &:hover {
    width: 15px;
    height: 15px;
    border: 15px rgba(47, 122, 81, 0.52) solid;
      &:before {
        content: '';
        width: 250px;
        padding: 8px;
        background-color: #fff;
        position: absolute;
        top: -60px;
        left: -120px;
      }
  }
    .dot {
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .move1, .move2, .move3, .move4 {
    position: absolute;
  }
  .move1 {
    top: 249px;
    left: 121px;
  }
  .move2 {
    top: 209px;
    left: 550px;
  }
  .move3 {
    top: 308px;
    right: 332px;
  }
  .move4 {
    top: 20px;
    right: 115px;
  }
}
.services__nav {
  ul {
    text-align: center;
    padding-top: 42px;
  }
  li {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    border: 1px #fff solid;
    margin-left: -5px;
    padding: 5px 15px 5px 15px;
    &:first-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
    &:last-child {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
    &.active {
      background-color: #fff;
      color: #333!important;
    }
  }
}

.employees {
  position: relative;
}

.employees__items {
  display: flex;
  justify-content: space-around;
}

.employees__title {
  text-align: center;
  margin-top: 96px;
  font-size: 26px;
  font-weight: 600;
}

.employees__item {
  width: 134px;
  margin-top: 66px;
  position: relative;
  .employees__name {
    text-align: center;
    margin-top: 39px;
    a {
      font-size: 15px;
      font-weight: 600;
      color: #6daeff;
    }
  }
  .employees__reviews {
    text-align: center;
    margin-top: 8px;
    a {
      color: #c6c4cf;
    }
  }
}
.employees__rating {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.star {
  display: inline-block;
  background-image: url("../images/star.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  &.rated {
    background-image: url("../images/rated.png")!important;
  }
}
.employees__previous {
  background-image: url("../images/icons/emp_arrow.png");
  background-size: cover;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 135px;
  left: 173px;
}
.employees__next {
  background-image: url("../images/icons/emp_arrow.png");
  background-size: cover;
  transform: rotate(180deg);
  width: 42px;
  height: 42px;
  position: absolute;
  top: 137px;
  right: 151px;
}

.employees__content {
  margin-bottom: 97px;
}

.footer {
  background: url("../images/footer.jpg") #f2f4fc no-repeat;
  background-size: cover;
  background-position-y: 10px;
  width: 100%;
  height: 445px;
}

.footer__nav {
  text-align: center;
  margin-top: 65px;
  li {
    display: inline-block;
    margin-left: 14px;
    a {
      font-size: 15px;
      font-weight: bold;
      color: #6daeff;
    }
  }
}

.footer__social {
  display: flex;
  justify-content: space-around;
  margin-top: 37px;
  width: 218px;
  margin-left: 360px;
  li {
    display: inline-block;
  }
  .first {
    background-image: url("../images/icons/social.png");
    background-size: cover;
    width: 30px;
    height: 30px;
  }
  .vk {
    background-image: url("../images/icons/social.png");
    background-size: cover;
    background-position-x: -55px;
    width: 30px;
    height: 30px;
  }
  .instagram {
    background-image: url("../images/icons/social.png");
    background-size: cover;
    background-position-x: -110px;
    width: 30px;
    height: 30px;
  }
  .facebook {
    background-image: url("../images/icons/social.png");
    background-size: cover;
    background-position-x: 30px;
    width: 30px;
    height: 30px;
  }
}

.footer__copyright {
  text-align: center;
  margin-top: 33px;
  font-size: 15px;
}

//______________ORDER_____________


.order__title {
  margin-top: 27px;
  font-size: 40px;
  span {
    font-size: 13px;
    margin-left: 4px;
    color: #c6c4cf;
  }
}

.order__form {
  width: 51%;
  display: inline-block;
  margin-top: 77px;
  .calculate__btn {
    margin-top: 46px;
    margin-bottom: 91px;
  }
  hr {
    margin-top: 50px;
    background-color: #c6c4cf;
  }
  .calculate__menu {
    margin-top: 22px;
  }
}

.calculate__time {
  font-size: 16px;
  margin-top: 43px;
  margin-left: 4px;
}

.order__form-title {
  font-size: 17px;
}

.calculate__time-range {
  width: 460px;
  margin-left: 3px;
  margin-top: 13px;
}

.calculate__time-recommended {
  font-size: 13px;
  margin-top: 5px;
  margin-left: 3px;
}

.calculate__services-title {
  font-size: 16px;
  margin-top: 47px;
  margin-left: 3px;
}

.calculate__services-content {
  margin-top: 33px;
  margin-left: 6px;
  width: 95%;
}

.calculate__services-item {
  display: inline-block;
  padding: 6px;
  margin-bottom: 5px;
  border: 1px #e0e0e8 solid;
  border-radius: 2px;
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
  input:checked + label {
    background-color: #6daeff;
  }
}

.calculate__after-repair {
  margin-top: 25px;
  label, input {
    cursor: pointer;
  }
}

.order__result {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.order__result-box {
  width: 300px;
  box-shadow: 0 6px 36px 2px rgba(0, 0, 0, 0.27);
  margin-left: 165px;
  margin-top: 93px;
}

.result-box__title {
  font-size: 17px;
  padding-top: 23px;
  padding-left: 30px;
}

.result-box__content {
  table {
    margin-top: 24px;
    margin-left: 29px;
  }
}
.result-table__item {
  width: 138px;
  padding-bottom: 14px;
  color: #c6c4cf;
}

.result-table__second {
  .result-table__item {
    width: 207px;
    padding-bottom: 19px;
    color: #c6c4cf;
  }
}
.result-table__final {
  .result-table__item {
    width: 180px;
    padding-bottom: 19px;
    color: #333;
  }
  .result-table__value {
    font-size: 21px;
    font-weight: 600;
    color: #3bb873;
  }
}

.order__address {
  input {
    padding: 7px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    margin-bottom: 28px;
    margin-right: 15px;
  }
}
.order__address-city {
  width: 366px;
}

.order__address-flat {
  width: 38px;
}

.order__address-option {
  width: 123px;
}

.order__date {
  margin-top: 20px;
  input {
    padding: 7px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    margin-bottom: 28px;
    margin-right: 15px;
    width: 203px;
  }
}

.order__pay {
  select {
    padding: 7px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    margin-top: 21px;
    width: 224px;
    margin-bottom: 28px;
  }
}

.order_client-info {
  input {
    padding: 7px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    margin-right: 15px;
    width: 203px;
    margin-top: 25px;
    margin-bottom: 28px;
  }
}

.order__comment {
  textarea {
    padding: 7px;
    max-width: 442px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    width: 442px;
    margin-top: 25px;
  }
}

.order__submit {
  text-align: center;
  img {
    margin-top: 116px;
  }
  ._mt {
    margin-top: 34px;
  }
  hr {
    width: 100px;
  }
}

.order__submit-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 34px;
}

.order__submit-ps {
  margin-bottom: 96px;
  p {
    color: #c6c4cf;
  }
}


//__________CONTACTS__________


.contacts__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 62px;
}

.contacts__hr {
  height: 4px;
  width: 50px;
  background-color: #3bb873;
  margin-top: 63px;
  margin-left: 440px;
}

.contacts__content {
  text-align: center;
}

.contacts__phone {
  font-size: 31px;
  font-weight: 600;
  margin-top: 61px;
}

.contacts__address {
  margin-top: 18px;
}

.contacts__email {
  margin-top: 13px;
  a {
    text-decoration: none;
    color: #333;
  }
}

.contacts__map {
  margin-top: 60px;
}

#map {
  width: 100%;
  height: 445px;
}


//_____________________PROFILE_________________


.profile__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 62px;
}

.profile__nav {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
  li {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    &.active {
      color: #3bb873;
    }
  }
}

.profile__box-orders {
  margin-bottom: 130px;
}

.profile__box-orders-nav {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 70px;
  li {
    display: inline-block;
    padding: 5px 25px 5px 30px;
    margin-left: -5px;
    border: 1px #3bb873 solid;
    cursor: pointer;
    a {
      color: #333;
    }
    &:first-child {
       border-bottom-left-radius: 3px;
       border-top-left-radius: 3px;
     }
    &:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
    &.active {
      background-color: #3bb873;
      color: #fff;
    }
  }
}

.profile__order {
  width: 620px;
  margin-left: 155px;
  border: 1px #c6c4cf solid;
  border-radius: 2px;
  box-shadow: 0 6px 36px 2px rgba(0,0,0,0.27);
  margin-top: 20px;
}

.profile__order-date {
  width: 15%;
  border-right: 1px #c6c4cf solid;
  display: inline-block;
  padding-top: 60px;
  margin-left: 30px;
  span {
    border: 2px #c6c4cf solid;
    border-radius: 50%;
    padding: 14px 16px 14px 16px;
    font-size: 30px;
    font-weight: 600;
    box-sizing: border-box;
  }
  p {
    margin-top: 22px;
  }
}

.profile__order-info {
  width: 79%;
  display: inline-block;
  vertical-align: top;
  h4 {
    font-size: 11px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 15px;
    display: inline-block;
  }
}

.profile__order-panel {
  display: inline-block;
  margin-left: 62px;
  position: relative;
}

.profile__order-cancel {
   background-image: url("../images/icons/close.png");
   background-size: cover;
  position: absolute;
  top: -19px;
  right: -24px;
  width: 30px;
   height: 30px;
  display: inline-block;
  cursor: pointer;
 }
.profile__order-edit {
  background-image: url("../images/icons/edit.png");
  background-size: cover;
  position: absolute;
  top: -19px;
  right: -58px;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.profile__order-time {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: -101px;
}

.profile__order-services {
  width: 215px;
  margin-top: 12px;
  margin-left: 16px;
  li {
    display: inline-block;
    border: 1px #c6c4cf solid;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px 6px 2px 6px;
    margin-bottom: 2px;
  }
}

.profile__order-price {
  font-size: 21px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #3bb873;
  display: inline-block;
}

.profile__order-cleaner {
  display: inline-block;
  margin-left: 212px;
  img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    display: inline-block;
  }
}

.profile__order-feedback {
  margin-left: 143px;
  margin-top: 6px;
  .calculate__btn {
    width: 110px;
    height: 28px;
    margin-top: 6px;
    margin-left: 0;
    margin-bottom: 30px;
  }
  p {
    display: inline-block;
  }
  textarea {
    margin-top: 14px;
    width: 442px;
    max-width: 442px;
    min-width: 442px;
    padding: 8px;
  }
}

.profile__order-rate {
  display: inline-block;
  margin-left: 11px;
  .star {
    margin-left: 9px;
    cursor: pointer;
  }
}

//------->actions


.profile__actions {
  margin-bottom: 265px;
}

.profile__action {
  box-shadow: 0 6px 36px 2px rgba(0, 0, 0, 0.27);
  border: 1px #c6c4cf solid;
  width: 617px;
  margin-top: 47px;
  margin-left: 164px;
}

.profile__action-procent {
  display: inline-block;
  padding: 61px 27px 50px 32px;
  border-right: 1px #c6c4cf solid;
  span {
    font-size: 37px;
    font-weight: 600;
    color: #3bb873;
  }
}

.profile__action-content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  margin-top: 27px;
  margin-left: 22px;
  h4 {
    font-size: 15px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
    margin-top: 15px;
    line-height: 1.8;
    color: #c6c4cf;
  }
}

//------->cleaners


.profile__cleaners {
  .profile__box-orders-nav {
    margin-bottom: 0!important;
  }
  li {
    width: 100px;
  }
}

.profile__cleaners-list {
  margin-bottom: 157px;
}

.employees__favorites {
  background: url("../images/icons/cleaners.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 2px;
  right: -15px;
  width: 29px;
  height: 27px;
  cursor: pointer;
  &:hover {
    background-position-x: -33px;
    &:after {
      content: '';
      font-size: 11px;
      color: #fff;
      background-color: dimgray;
      padding: 1px 5px;
      position: absolute;
      width: 67px;
      top: 3px;
      right: -85px;
    }
  }
  &.checked {
    background-position-x: -33px;
  }
}

.employees__order {
  button {
    width: 135px;
    margin-top: 16px;
    height: 26px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      border: 1px #3bb873 solid;
      background: #3bb873;
      color: #fff;
    }
  }
}

//------->options


.profile__options-form {
  margin-top: 66px;
  .calculate__btn {
    width: 110px;
    height: 28px;
    margin-top: 2px;
    margin-left: 381px;
    margin-bottom: 60px;
  }
  table {
    margin-left: 282px;
    margin-top: 42px;
  }
}

.profile__options-item {
  width: 80px;
}

.profile__options-value {
  padding-left: 40px;
  .order__address {
    margin-left: -17px;
    margin-top: -12px;
  }
  .profile__phone-change {
    width: 260px;
    border: 1px #c6c4cf solid;
    border-radius: 2px;
    padding: 5px;
    margin-top: -7px;
    margin-left: -17px;
  }
}

.profile_password-change {
  margin-left: 128px;
  color: #3bb873;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.tab_cont {
  display: none;
  &.active {
    display: block;
  }
}